
html,body {
	font-family: Lato, sans-serif;
	font-size: 16px;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: #000 !important;
}
a:hover {
	opacity: 0.6;
	cursor: pointer;
}

header {
	padding: 5px 20px;
	font-size: 20px;
	line-height: 40px;
	background: #ccc;
	background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
}
header img {
	vertical-align: middle;
	margin-right: 10px;
	width: 40px;
}

header .credit {
	float: right;
	font-size: 14px;
}

section {
	margin: 20px;
}

.task {
	padding: 4px;
	margin-bottom: 5px;
	border-radius: 5px;
	background: #e8e8e8;
}
.task.complete {
	opacity: 0.5;
}
.task.complete label {
	text-decoration: line-through;
}
.task:hover {
	opacity: 0.7;
}
.task:nth-child(odd) {
	background: #e1eaef;
}
.task>span {
	float: right;
	margin: 0 4px;
}
.task>span>a {
	display: inline-block;
	margin-left: 4px;
}

.add_task input, button {
	font-size: 0.7em;
	line-height: 1;
	padding: 7px 10px;
	border-radius: 5px;
	border: 1px solid #669999;
}
button {
	background: #669999;
	border: none;
	color: #fff;
}
button:hover {
	cursor: pointer;
	opacity: 0.7;
}
input:focus, button:focus {
	outline:0;
}
